body {
    background-color: black;
}


.preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    background-color: black;
}

.preloader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
    }
.preloader img {
width: 100%;
margin-top: 45% ;

}
.onload {
    display: none;
}
